doctype html
html(ng-app='Prolum')
	body
		.demo-layout-waterfall.mdl-layout.mdl-js-layout
			header.mdl-layout__header.mdl-layout__header--waterfall
				// Top row, always visible
				.mdl-layout__header-row
					// Title
					span.mdl-layout-title Control de Temperaturas
			main.mdl-layout__content
				.page-content
					.mdl-grid
						.square-card.mdl-card.mdl-shadow--2dp
							.mdl-card__title
								h1
									.mdl-card__title-text SHOWROOM
									.mdl-card__subtitle-text 192.168.1.203
							.mdl-card__supporting-text
								.mdl-spinner.mdl-js-spinner.is-active
								h3#temp
			a#view-source.button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored(href='add.jade')

				i.material-icons add


				

			


	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js')
	script(src='/javascripts/jquery/jquery.min.js')
	script(src='/modules/socket.io-client/socket.io.js')
	script(src='/javascripts/app.js')
	link(rel='stylesheet', href='/javascripts/font-awesome/css/font-awesome.min.css')
	link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
	link(rel='stylesheet', href='https://code.getmdl.io/1.2.1/material.indigo-pink.min.css')
	script(defer='', src='https://code.getmdl.io/1.2.1/material.min.js')

style.
	.square-card.mdl-card {
		width: 230px;
		height: 250px;
	}
	#view-source {
		position: fixed;
		display: block;
		right: 0;
		bottom: 0;
		margin-right: 40px;
		margin-bottom: 40px;
		z-index: 900;
	}
	.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
	padding-right: 0;
	}