doctype html
html(ng-app='Prolum')
	body
		.demo-layout-waterfall.mdl-layout.mdl-js-layout
			header.mdl-layout__header.mdl-layout__header--waterfall
				// Top row, always visible
				.mdl-layout__header-row
					// Title
					span.mdl-layout-title Control de Temperaturas
			main.mdl-layout__content.mdl-color--grey-100
				.mdl-grid.demo-content
					.demo-cards.mdl-cell.mdl-cell--4-col.mdl-cell--8-col-tablet.mdl-grid.mdl-grid--no-spacing
						.demo-updates.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--12-col-desktop
							.mdl-card__title.mdl-card--expand.mdl-color--teal-300
								h2.mdl-card__title-text 
									.mdl-spinner.mdl-js-spinner.is-active
									h3#temp
							.mdl-card__supporting-text.mdl-color-text--grey-600
								| Leyendo en tiempo real desde /dev/ttyACM0
					#container(style="width: 855px; height: 522px;").demo-graphs.mdl-shadow--2dp.mdl-color--white.mdl-cell.mdl-cell--8-col
						svg.demo-graph(fill='currentColor', viewbox='0 0 500 250')
							use(xlink:href='#chart')
						svg.demo-graph(fill='currentColor', viewbox='0 0 500 250')
							use(xlink:href='#chart')
					

	
	script(src='/javascripts/jquery/jquery.min.js')
	script(src='/modules/socket.io-client/dist/socket.io.js')
	script(src='/modules/highcharts/highcharts.js')
	script(src='/javascripts/app.js')
	
	link(rel='stylesheet', href='/javascripts/font-awesome/css/font-awesome.min.css')
	link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
	link(rel='stylesheet', href='https://code.getmdl.io/1.2.1/material.indigo-pink.min.css')
	script(defer='', src='https://code.getmdl.io/1.2.1/material.min.js')

style.
	.square-card.mdl-card {
		width: 230px;
		height: 250px;
	}
	#view-source {
		position: fixed;
		display: block;
		right: 0;
		bottom: 0;
		margin-right: 40px;
		margin-bottom: 40px;
		z-index: 900;
	}
	.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type	{
	padding-right: 0;
	}